*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-image: url(img/png-transparent-car-toll-road-computer-icons-car-compact-car-angle-logo.png);
    background-position: center center;
    background-size: contain;
}
input{
    margin: 5px;
}
#total{
    width: 100px;
    background-color: #ccc;
    margin-top: 15px;
}